<% content_for :title do %>
About Me
<% end %>

<div class="row">
  <h1><a href="/">. | </a>About Me</h1>
</div>

<hr>

<div class="row">
  <p>
    <h4 class="subheader">I'm a software developer. Lover of worlds [real/imagined, constructed/evolved, analog/digital]. Self-directed learner.</h4>
  </p>
  <br>
  <p>
    <h3>Social Media, etc.</h3>
    <h4 class="subheader">I do my best not to be too frivolous or vain.</h4>
  </p>
  <p>
    <h4 class="subheader">Facebook: <a href="https://www.facebook.com/peter.wilson.315">Peter Wilson</a></h4>
    <h4 class="subheader">Twitter: <a href="https://www.twitter.com/PWx21">PWx21</a></h4>
    <h4 class="subheader">LinkedIn: <a href="http://www.linkedin.com/pub/peter-wilson/59/127/651">Peter Wilson</a></h4>
    <h4 class="subheader">GitHub: <a href="http://github.com/PWx21">PWx21</a></h4>
    <h4 class="subheader">goodreads: <a href="https://www.goodreads.com/PWx21">PWx21</a></h4>
    <h4 class="subheader">Xbox Live: <a href="https://live.xbox.com/en-US/Profile?gamertag=XXX21XXX">XXX21XXXX</a> - although I don't keep my Xbox with me in Boston, so I'm rarely on.</h4>
  </p>
  <br>
  <p>
    <h6 class="subheader">I grew on the border between suburbia and farmland, just outside of Buffalo, NY. I've sinced moved to (and many times within) Boston, MA. I'll be done after this fall at Northeastern University with a BS in Computer Science and a Minor in Philosophy.</h6>
  </p>
</div>
