<div class="row">
  <div class="small-6 small-centered columns">
    <h1 class="text-center">Logo that's not yet finished</h1>
  </div>
</div>

<hr>

<div class="row">
  <h2><a href="main/about_me">About Me</a></h2>
  <h3 class="subheader">I'm a software developer finishing up my philosophy minor this fall. Currently pushing code for <a href="http://www.Zipcar.com">Zipcar</a>.</h3>

  <hr>

  <h2><a href="main/projects">Projects</a></h2>
  <h3 class="subheader">This website! Learning more about web technologies, design, and best practices. Trying to slim down my to-read list.</h3>

  <hr>

  <h2>Blog</h2>
  <h3 class="subheader">Incoming.<h3>
</div>
