<% content_for :title do %>
Projects
<% end %>

<div class="row">
  <h1><a href="/">. | </a>Projects</h1>
</div>

<hr>

<div class="row">
  <p>
    <h4 class="subheader">My GitHub account: <a href="http://github.com/PWx21">PWx21</a></h4>
  </p>
  <p>
    <h4 class="subheader">I don't know what I would do without Git. That, and GitHub have been a godsend. It gives open-source software a bright future.</h4>
  </p>
  <p>
    <h4 class="subheader">I've found <a href="http://www.codeschool.com">code school</a> to be a pretty solid resource for an overview of what Rails is about. Also, it's great for learning the conventions and assumptions that are built-in (<a href="http://www.codeschool.com/users/253780">my acccount</a>). The JQuery courses were similarly helpful. I thought it was a very good overview. It suffers from the same faults as the Rails one, specifically that the part-2 course is a let-down in comparison (the scope gets brought in very tight, and jumps around to different focuses). Although, the discussion of promises in part-2 is nice.</h4>
  </p>
</div>
