<div class="row">
  <h1><a href="/">. | </a>Projects</h1>
</div>

<hr>

<div class="row">
  <p>
    <h4 class="subheader">My Github account: <a href="http://github.com/PWx21">PWx21</a></h4>
  </p>
  <p>
    <h4 class="subheader">I don't know what I would do without Git. My site is version-controlled, and saves me from so much anxiety.</h4>
  </p>
  <p>
    <h4 class="subheader">I've found <a href="http://www.codeschool.com">code school</a> to be a pretty solid resource for learning beginner Rails things (<a href="http://www.codeschool.com/users/253780">my acccount</a>). I'm currently testing out the Javascript courses.</h4>
  </p>
</div>
